In [1]:
print("This is the first notebook in the vs code")

This is the first notebook in the vs code

In [2]:
import pandas as pd
import numpy as np

In [4]:
pd.DataFrame({"Name":["Avinash", "Sweta"],"Age":[31,32]})

      Name  Age
0  Avinash   31
1    Sweta   32